 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$font: 'Pirata One', cursive;

// Custom Styles
body {
  background: #fafafa;
  font-family: 'Pirata One', cursive, sans-serif;
  color: #333;
  max-width: 1500px;
}

.hero-unit {
  //margin: 20px auto 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 40px;
  background-color: RGBA(227, 213, 204, 1);
  border-radius: 6px;
  padding: 5px;

    .welcome {
      text-align: center;
      font-family: $font;
    }
    .fight {
      display: none;
      text-align: center;
      font-family: $font;
    }
    .instructions {
      font-size: 1.6em;
      text-align: center;
    }
  }
.ggHealth, .bgHealth {
  color: blue;
  padding-left: 15px;
}
.navigation {
  width: 1300px;
  height: 300px;
  background-color: RGBA(128, 84, 45, 1);
  border-radius: 2px;
  margin-left: 55px;
}
h1 {
font-size: 2em;
margin: 0.67em 0;
padding-top: 20px;
}
button {
  background: RGBA(227, 213, 204, 1);
}
